{% load staticfiles %}
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style >
.fixed-footer {

background-color: black;
width: 100%;
height:15%;
text-align:center;

  }
  .fa {
  padding: 30px;
  font-size: 30px;
  width: 5%;
  height: 5%;
  text-align: center;
  text-decoration: none;

  border-radius: 50px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {

  color: white;
}

.fa-twitter {

  color: white;
}



.fa-linkedin {

  color: white;
}

.fa-youtube {

  color: white;
}

.fa-instagram {

  color: white;
}

</style>
  <link rel="stylesheet" href="{% static "css/index.css"%}"/>
</head>
<body>

<div class="fixed-footer">
    <div class="container">Copyright &copy; 2019 Your Company</div>
    <a href="https://www.facebook.com/shahid.aman.56232?ref=bookmarks" class="fa fa-facebook"></a>

<a href="https://www.linkedin.com/in/shahid-dar-b3aaa4159/" class="fa fa-linkedin"></a>
<a href="https://www.youtube.com/channel/UCb4R-J7QKum0UBR9fz4ab1w?view_as=subscriber" class="fa fa-youtube"></a>
<a href="https://www.instagram.com/shahid.aman.56232/" class="fa fa-instagram"></a>



</div>
</body>
</html>
